:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #da4453, #89216b);
}
body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}